* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    hyphens: auto;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-blue: #0F61D4;
    --primary-dark: #232323;
    --primary-grey: #616161;
    --default-red: #f11919;
}

h3,
h5,
h4,
h6,
h1 p {
    font-family: 'Muli', sans-serif !important;
}

a {
    text-decoration: none;
    color: #0c0c0c;
}

.highlighted-text {
    background: linear-gradient(90deg, #0F61D4, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* HEADER ---> STARTS */
header {


    nav {
        height: 5rem;
        transition: all 0.4s ease-in-out;
        backdrop-filter: blur(4px);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75));
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);

        .navbar-brand {
            img {
                height: 2.6rem;
                width: auto;
            }
        }

        .nav-link {
            transition: all 0.2s ease-in-out;
            color: #FFFFFF;
            letter-spacing: 0.02em;
            font-family: 'Comfortaa', sans-serif;
            font-size: 0.9rem;
            border-radius: 0.3rem;

            &:hover {
                padding-left: 1.4rem !important;
                padding-right: 1.4rem !important;
                background-color: #FFFFFF;
                color: var(--primary-blue);
            }
        }

        .active-link {
            border-bottom: 2px solid white;
            padding-bottom: 4px;
        }

        .navbar-nav {
            gap: 2rem;
        }

    }

    &.scrolled nav {
        border-bottom: 1px solid #FFF;
    }

    .free-consultation-btn {
        background-color: transparent;
        border: 0.0625rem solid #FFFFFF;
        color: #FFFFFF;
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        font-family: 'Comfortaa', sans-serif;
        font-size: 0.9rem;
        transition: background-color 0.7s ease;

        /* On hover */
        &:hover {
            background-color: var(--primary-blue);
            border: none;
            color: #FFFFFF;
        }
    }
}

header.sticky nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(0);
    }
}

/* HEADER ---> ENDS */


/* HEROES SECTION ---> STARTS */
.heroes {
    padding: 10rem 3rem 0rem 3rem;

    h1 {
        font-weight: 600;
        width: 60%;
        font-size: 2.3rem;
        font-family: 'Poppins', sans-serif !important;

        span {
            background: linear-gradient(90deg, #0F61D4, #00d4ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    p {
        font-size: 1rem;
        width: 70%;
        line-height: 1.8rem;
        font-family: 'Muli', sans-serif !important;
    }
}


/* HEROES SECTION ---> ENDS */


/* BRIEFING CARDS SECTION ---> STARTS */
.briefing-cards {
    padding-top: 4rem;
    padding-bottom: 6rem;

    .card {
        border-radius: 0 !important;
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
        height: max-content;
        background-color: #F9FEFE;
        background-image: url(/images/bg-curve-white.svg);
        transition: all 0.4s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.05) 0rem 0.0625rem 0.125rem 0rem;

        .card-header {
            img {
                width: 6rem;
                transition: all 0.4s ease-in-out;
            }

            .software-icon {
                width: 6.5rem;
                transition: all 0.4s ease-in-out;
            }

            .card-title {
                font-size: 1rem;
                line-height: 2rem;
                font-weight: 500;
                text-transform: uppercase;
            }

        }

        .card-body {
            padding: 0 2.2rem 1rem 2.2rem;

            .card-text {
                line-height: 2rem;
                font-family: 'Open-sans', sans-serif;
                font-size: 0.85rem;
            }
        }

        &:hover {
            transform: scale(1.04);
            border: 0.0625rem solid var(--primary-blue);

            img {
                width: 7rem;
            }

            .software-icon {
                width: 7.5rem;
            }
        }
    }


}

/* BRIEFING CARDS SECTION ---> ENDS */



/* FREE CONSULTATION ---> START */
.free-consultation-section {
    padding: 4rem 0 5rem 0;

    h2 {
        font-size: 2.4rem;
        line-height: 3rem;
        color: #0a0a0a;
    }

    p {
        font-size: 1rem;
        line-height: 2rem;
    }


    form {
        margin-top: 4rem;

        .form-label {
            font-weight: 500;
            color: #0a0a0a;
        }

        .form-control,
        .form-select {
            border-radius: 0.2rem;
            transition: all 0.3s ease;

            &:focus {
                &:focus {
                    border-color: #0074ff;
                    box-shadow: none !important;
                }
            }
        }

        input {
            height: 2.9375rem;
        }

        input::placeholder,
        textarea::placeholder {
            font-size: 0.8rem;
            color: var(--primary-grey);
        }

        .invalid-feedback {
            font-size: 0.8rem;
            color: var(--default-red);
        }

        button[type="submit"] {
            background-color: transparent;
            border: 0.0625rem solid var(--primary-blue);
            padding: 0.75rem 1.5rem;
            border-radius: 0.5rem;
            font-family: 'Comfortaa', sans-serif;
            font-size: 0.9rem;
            transition: background-color 0.7s ease;

            /* On hover */
            &:hover {
                background-color: var(--primary-blue);
                border: 0.0625rem solid #FFFFFF;
                color: #FFFFFF;
            }

            &.active {
                opacity: 1;
                cursor: pointer;
            }
        }

        .disabled-btn {
            cursor: not-allowed;
        }

    }

}

/* FREE CONSULTATION ---> END */



/* FOOTER ---> START */
footer {
    img {
        width: 12rem;
    }

    p {
        font-size: 0.9rem;
    }

    h6 {
        margin-bottom: 1.7rem;
    }

    a,
    p {
        margin-bottom: 0.8rem;
        font-weight: 200;
        font-size: 0.9rem;
    }
}

/* FOOTER ---> EMD */