* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*hyphens: auto;*/
}



html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    overflow-x: hidden;
}

section {
    overflow-x: hidden !important;
    width: 100vw !important;
}
@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-blue: #0F61D4;
    --primary-dark: #232323;
    --primary-grey: #616161;
    --default-red: #f11919;
}

h3,
h5,
h4,
h6,
h1 p {
    font-family: 'Muli', sans-serif !important;
}

a {
    text-decoration: none;
    color: #0c0c0c;
}

.highlighted-text {
    background: linear-gradient(90deg, #0F61D4, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* HEADER ---> STARTS */
header {

    nav {
        height: 5rem;
        background: rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease-in-out;
        backdrop-filter: blur(4px);

        .navbar-brand {
            img {
                height: 2.8rem;
                width: auto;
            }
        }

        .nav-link {
            transition: all 0.2s ease-in-out;
            color: #FFFFFF;
            letter-spacing: 0.02em;
            font-family: 'Comfortaa', sans-serif;
            font-size: 0.9rem;
            border-radius: 0.3rem;

            &:hover {
                padding-left: 1.4rem !important;
                padding-right: 1.4rem !important;
                background-color: #FFFFFF;
                color: var(--primary-blue);
            }
        }

        .active-link {
            border-bottom: 2px solid white;
            padding-bottom: 4px;
        }

        .navbar-nav {
            gap: 2rem;
        }

    }

    &.scrolled nav {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75));
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
        transition: all 0.4s ease-in-out;
        /*backdrop-filter: none;*/
    }

    .free-consultation-btn {
        background-color: transparent;
        border: 0.0625rem solid #FFFFFF;
        color: #FFFFFF;
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        font-family: 'Comfortaa', sans-serif;
        font-size: 0.9rem;
        transition: background-color 0.7s ease;

        /* On hover */
        &:hover {
            background-color: var(--primary-blue);
            border: none;
            color: #FFFFFF;
        }
    }
}

header.sticky nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    animation: slideDown 0.3s ease-in-out;
    transform: translateY(0) !important;
}


@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}


/* HEADER ---> ENDS */


/* HEROES SECTION ---> STARTS */
.heroes {
    position: relative;
    height: 100vh;
    height: 100dvh;
    /* Mobile fix */
    overflow: hidden;
    background: transparent;

    .carousel {
        height: 100%;

        .carousel-inner {
            height: 100%;

            .carousel-item {
                position: relative;
                height: 100%;
                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 10, 0.6);
                    z-index: 1;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 0;
                }

                .carousel-caption {
                    position: static;
                    z-index: 2;
                    text-align: left;

                    h1 {
                        font-weight: 900;
                        width: 70%;
                        font-size: 3rem;
                        color: #fff;
                        font-family: 'Poppins', sans-serif !important;

                        span {
                            background: linear-gradient(90deg, #0F61D4, #00d4ff);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            letter-spacing: 1px;
                            font-size: 3.3rem;
                        }
                    }

                    p {
                        font-size: 1.5rem;
                        color: #fff;
                        line-height: 2.5rem;
                        width: 70%;
                    }
                }
            }
        }

        .carousel-control-next {
            padding-right: 3%;
            width: fit-content;
        }

    }

    .carousel-indicators {
        margin-bottom: 10rem;
    }

    /*  Trusted-by section with the working animation */
    .trusted-by {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(4px);
        z-index: 3;
        padding: 1rem 0;

        h6 {
            font-size: 0.9rem;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-family: 'Poppins', sans-serif !important;
            color: #fff;
            margin-bottom: 0.8rem;
        }

        .logo-slider {
            width: 100%;
            overflow: hidden;
            position: relative;
            mask: linear-gradient(90deg, transparent, black 15%, black 85%, transparent);

            .logo-track {
                display: flex;
                align-items: center;
                gap: 2rem;
                width: max-content;
                animation: scroll 35s linear infinite;

                img {
                    width: 5rem;
                    opacity: 0.4;
                    transition: all 0.4s ease-in-out;

                    &:hover {
                        opacity: 1;
                        transform: scale(1.01);
                    }
                }
            }

            &:hover .logo-track {
                animation-play-state: paused;
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* HEROES SECTION ---> ENDS */



/* BRIEFING CARDS SECTION ---> STARTS */
.briefing-cards {
    padding: 6rem 0;

    h4 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 2rem;
    }

    h5 {
        font-size: 2.1rem;
        font-weight: 800;
        color: var(--primary-dark);
        letter-spacing: -0.06rem;
        -webkit-text-stroke-width: 0.0625rem;
        -webkit-text-stroke-color: var(--primary-dark);
    }

    p {
        font-size: 1rem;
        line-height: 2rem;
        color: var(--primary-grey);
    }

    .card {
        border-radius: 0 !important;
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
        height: 60vh;
        background-color: #F9FEFE;
        background-image: url('../images/bg-curve-white.svg');
        transition: all 0.4s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.05) 0rem 0.0625rem 0.125rem 0rem;

        .card-header {
            img {
                width: 5rem;
                transition: all 0.4s ease-in-out;
            }

            .software-icon {
                width: 6.5rem;
                transition: all 0.4s ease-in-out;
            }

            .card-title {
                font-size: 1rem;
                line-height: 2rem;
                font-weight: 500;
                text-transform: uppercase;
            }

        }

        .card-body {
            padding: 0 2.2rem 1rem 2.2rem;

            .card-text {
                line-height: 2rem;
                font-family: 'Open-sans', sans-serif;
                font-size: 0.85rem;
            }
        }

        &:hover {
            transform: scale(1.04);
            border: 0.0625rem solid var(--primary-blue);

            img {
                width: 7rem;
            }

            .software-icon {
                width: 7.5rem;
            }
        }
    }
}

/* BRIEFING CARDS SECTION ---> ENDS */


/* OUR SOFTWARE ---> STARTS */
.our-software {
    padding-top: 4rem;
    padding-bottom: 6rem;

    .software-snapshots {
        img {
            width: 90%;
            transition: all 0.4s ease-in-out;

            &:hover {
                cursor: pointer;
                width: 95%;
                position: relative;
                z-index: 2;
            }
        }

        #first-img {
            margin-bottom: -18%;
        }

        #second-img {
            margin-left: 15%;
        }

        #third-img {
            margin-top: -20%;
        }
    }

    .software-summary {
        padding: 2rem 0 0 6rem;

        h4 {
            font-size: 1rem;
            font-weight: 700;
            line-height: 2rem;
        }

        h5 {
            font-size: 2.1rem;
            font-weight: 800;
            color: var(--primary-dark);
            letter-spacing: -0.06rem;
            -webkit-text-stroke-width: 0.0625rem;
            -webkit-text-stroke-color: var(--primary-dark);
        }

        p {
            font-size: 1rem;
            line-height: 2rem;
            color: var(--primary-grey);
        }

        .perks {
            i {
                color: var(--primary-blue);
                font-size: 1.2rem;
            }

            h6 {
                font-weight: 700;
                line-height: 2rem;
                color: var(--primary-dark);
            }

            p {
                color: var(--primary-grey);
                font-size: 0.95rem;
                font-family: 'Muli', sans-serif;
            }
        }

        .know-more-btn {
            background-color: transparent;
            border: 0.0625rem solid var(--primary-blue);
            padding: 1rem 1.5rem;
            border-radius: 0.5rem;
            font-family: 'Comfortaa', sans-serif;
            font-size: 0.9rem;
            transition: background-color 0.7s ease;

            &:hover {
                background-color: var(--primary-blue);
                border: 0.0625rem solid #FFFFFF;
                color: #FFFFFF;
            }
        }
    }
}

/* OUR SOFTWARE  ---> ENDS */

/* STATISTICS --> START */
.statistics {
    padding-top: 4rem;
    padding-bottom: 6rem;
    background: black;

    h3 {
        font-weight: 600;
        font-size: 2.2rem;
        width: 75%;
        font-family: 'Poppins', sans-serif !important;
    }

    p {
        font-size: 0.9rem;
        color: #FFFFFF;
    }

    span {
        font-size: 0.8rem;
        color: var(--primary-grey);
    }

    .card {
        text-align: left !important;
        background: transparent;
        border: 0.0625rem solid var(--primary-grey);
        border-radius: 0 !important;
        transition: all 0.4s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        .counter {
            font-size: 3.5rem;
            font-weight: 800;
            color: transparent;
            -webkit-text-stroke: 0.0625rem #FFFFFF;
            text-stroke: 0.0625rem #FFFFFF;
        }

    }

}

/* STATISTICS --> END */


/* INTERESTS ---> START */
.interests {
    padding: 4rem 0;
    position: relative;
    background: url('../images/statistics-bg.svg') center/cover no-repeat;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(255, 255, 255, 0.86);
        z-index: 1;
    }

    &>* {
        position: relative;
        z-index: 2;
    }

    h4 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 2rem;
    }

    h5 {
        font-size: 2.1rem;
        font-weight: 800;
        color: var(--primary-dark);
        letter-spacing: -0.06rem;
        -webkit-text-stroke-width: 0.0625rem;
        -webkit-text-stroke-color: var(--primary-dark);
    }

    p {
        font-size: 1rem;
        line-height: 2rem;
        color: var(--primary-grey);
    }

    .accordion-item {
        overflow: hidden;
        transition: all 0.4s ease-in-out;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
        }

        .accordion-button {
            background-color: #fff;
            color: var(--primary-dark);
            font-weight: 400;
            border: none;
            box-shadow: none !important;
            transition: all 0.3s ease;
            padding: 0.8rem;

            i {
                font-size: 2.2rem;
                color: #444444;
            }

            &::after {
                content: "+";
                font-size: 1.2rem;
                font-weight: 700;
                color: var(--primary-blue);
                transform: none !important;
                background-image: none;
            }

            &:not(.collapsed)::after {
                content: "–";
                color: #fff;
            }

            &:not(.collapsed) {
                background-color: var(--primary-blue);
                color: #fff;

                i {
                    color: #fff !important;
                }
            }
        }

        .accordion-body {
            font-size: 0.9rem;
            line-height: 1.9rem;
            color: var(--primary-grey);
            padding: 0.8rem;

            strong {
                color: var(--primary-dark);
            }
        }
    }
}

/* INTERESTS ---> END */



/* TRUSTEES ---> START */
.trusted-section {
    color: #fff;
    padding: 4rem 0 !important;
    background: linear-gradient(90deg, #01597A 0%, #0F61D4 100%);

    h4 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 2rem;
    }

    h5 {
        font-size: 2.1rem;
        font-weight: 800;
        letter-spacing: -0.06rem;
    }

    p {
        font-size: 1rem;
        line-height: 2rem;
        color: var(--primary-grey);
    }

    img {
        opacity: 0.9;
        transition: all 0.3s ease;
        width: 15%;

        &:hover {
            opacity: 1;
            transform: scale(1.05);
        }
    }
}

/* TRUSTEES ---> END */



/* CONTACT ---> START */
.free-consultation-section {
    padding: 6rem 0;

    h4 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 2rem;
    }

    h5 {
        font-size: 2.1rem;
        font-weight: 800;
        color: var(--primary-dark);
        letter-spacing: -0.06rem;
        -webkit-text-stroke-width: 0.0625rem;
        -webkit-text-stroke-color: var(--primary-dark);
    }

    p {
        font-size: 1rem;
        line-height: 2rem;
        color: var(--primary-grey);
    }



    form {
        margin-top: 4rem;

        .form-label {
            font-weight: 500;
            color: #0a0a0a;
        }

        .form-control,
        .form-select {
            border-radius: 0.2rem;
            transition: all 0.3s ease;

            &:focus {
                &:focus {
                    border-color: #0074ff;
                    box-shadow: none !important;
                }
            }
        }

        input {
            height: 2.9375rem;
        }

        input::placeholder,
        textarea::placeholder {
            font-size: 0.8rem;
            color: var(--primary-grey);
        }

        .invalid-feedback {
            font-size: 0.8rem;
            color: var(--default-red);
        }

        button[type="submit"] {
            background-color: transparent;
            border: 0.0625rem solid var(--primary-blue);
            padding: 0.75rem 1.5rem;
            border-radius: 0.5rem;
            font-family: 'Comfortaa', sans-serif;
            font-size: 0.9rem;
            transition: background-color 0.7s ease;

            /* On hover */
            &:hover {
                background-color: var(--primary-blue);
                color: #FFFFFF;
            }

            &.active {
                opacity: 1;
                cursor: pointer;
            }
        }

        .disabled-btn {
            cursor: not-allowed;
        }

    }

}

/* CONTACT ---> END */



/* FOOTER ---> START */
footer {
    img {
        width: 12rem;
    }

    p {
        font-size: 0.9rem;
    }

    h6 {
        margin-bottom: 1.7rem;
    }

    a,
    p {
        margin-bottom: 0.8rem;
        font-weight: 200;
        font-size: 0.9rem;
    }
}

/* FOOTER ---> EMD */


/*OFFCANVAS CONTROL*/
.no-scroll {
    overflow: hidden !important;
    touch-action: none;
}


/* MEDIA QUERY FOR MOBILE */
@media (max-width: 600px) {
    footer {
        img {
            display: none;
        }

        h6 {
            margin-bottom: 1rem;
        }

        .mobile-padding-top-none {
            padding-top: 0 !important;
        }

        p,
        a {
            font-size: 0.8rem;
            font-weight: normal;
        }

        .commitment {
            padding-left: 1rem !important;
            margin-bottom: 1.5rem;
        }

        .quick-links {
            padding-left: 1rem !important;
            margin-bottom: 1.5rem;
        }
    }

    .free-consultation-section,
    .interests {
        padding: 4rem 0;

        h4 {
            font-size: 1rem;
            font-weight: 700;
            line-height: 2rem;
        }

        h5 {
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 1rem !important;
        }

        p {
            font-size: 0.9rem !important;
            line-height: 1.6rem;
            margin-bottom: 0 !important;
        }

        label {
            margin-top: 1rem;
            font-size: 0.9rem;
        }

        button {
            margin-top: 2rem;
            font-size: 0.9rem !important;
        }

        form {
            margin-top: 2rem;
        }

        .accordion-item {
            margin: 0.1rem 0 !important;
        }
    }

    .trusted-section {
        h4 {
            font-size: 1rem;
            font-weight: 700;
            line-height: 2rem;
        }

        h5 {
            font-size: 1.8rem;
            font-weight: 500;
            width: 90%;
            margin-bottom: 1rem !important;
        }

        p {
            font-size: 0.9rem !important;
            line-height: 1.6rem;
        }

        img {
            width: 45%;
        }
    }

    .statistics {
        padding: 4rem 1rem;

        h3 {
            font-weight: 500;
            font-size: 1.8rem;
            width: 100%;
            line-height: 2.3rem;
        }

        .author {
            margin-top: 1rem;
            display: block !important;
            font-size: 0.8rem;
        }

        p {
            font-size: 0.85rem;
        }

        p {
            display: block !important;
        }

        .card-container {
            width: 100% !important;
        }

        .card {
            text-align: left !important;

            &:hover {
                transform: scale(1.01);
            }

            .counter {
                font-size: 3rem;
                font-weight: 900;
            }

        }
    }

    .our-software {
        padding: 4rem 0;
        padding-top: 0;

        .row {
            flex-direction: column-reverse;
        }

        .software-snapshots {
            padding: 2rem 2rem 4rem 2rem !important;
            background: #FFF !important;

            img {
                width: 90%;
                transition: all 0.4s ease-in-out;

                &:hover {
                    width: 100%;
                }
            }

            #first-img {
                margin-bottom: -18%;
            }

            #second-img {
                margin-left: 0;
            }

            #third-img {
                margin-top: -20%;
            }
        }

        .software-summary {
            padding: 2rem;

            h4 {
                font-size: 0.9rem;
            }

            h5 {
                font-size: 1.8rem;
                font-weight: 500;
            }

            p {
                font-size: 0.9rem;
                line-height: 1.6rem;
            }

            .perks {
                i {
                    font-size: 1rem;
                }

                h6 {
                    font-weight: 500;
                    line-height: 1.8rem;
                }

                p {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .briefing-cards {
        padding: 4rem 0;

        h4 {
            font-size: 1rem;
            font-weight: 700;
            line-height: 2rem;
        }

        h5 {
            font-size: 1.8rem;
            font-weight: 500;
            width: 90%;
            margin-bottom: 1rem !important;
        }

        p {
            font-size: 0.9rem !important;
            line-height: 1.5rem;
        }

        .card {
            background-size: 90%;
            margin-bottom: 2rem;
            height: max-content;

            .card-header {
                img {
                    width: 4rem;
                    transition: none;
                }

                .software-icon {
                    width: 5rem;
                    transition: none;
                }

                .card-title {
                    font-size: 1rem;
                    line-height: 2rem;
                }

            }

            &:hover {
                transform: none;
                border: 0.0625rem solid var(--primary-blue);

                img {
                    width: 4rem;
                }

                .software-icon {
                    width: 5rem;
                }
            }
        }
    }

    .heroes {
        height: 100vh;
        height: 100dvh;
        /* Mobile fix */

        .carousel {

            .carousel-inner {

                .carousel-item {
                    .carousel-caption {
                        padding: 1rem !important;

                        h1 {
                            font-weight: 600;
                            width: 100%;
                            font-size: 2rem;
                            margin-top: -8rem !important;

                            span {
                                font-size: 2.2rem;
                            }
                        }

                        p {
                            font-size: 1.1rem;
                            line-height: 1.6rem;
                            width: 80%;
                            word-break: normal !important;
                            overflow-wrap: break-word !important;
                        }
                    }
                }
            }
        }

        .carousel-indicators {
            margin-bottom: 14rem;
            margin-left: 1rem !important;
        }

        /*  Trusted-by section with the working animation */
        .trusted-by {
            padding: 1rem !important;

            img {
                width: 3rem !important;
            }
        }
    }

    
    header {

        nav {
            height: 4rem;

            .mobile-nav-container {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .navbar-brand {
                img {
                    height: 2rem;
                }
            }

        }
    }

    header {
    position: relative !important;
    width: 100% !important;
    z-index: 1000 !important;
}

header.sticky {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    transform: translateY(0) !important;
}


}

/* END MEDIA QUERY FOR MOBILE */