@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-blue: #0F61D4;
    --primary-dark: #232323;
    --primary-grey: #616161;
    --default-red: #f11919;
}

h3,
h5, h4,
h6,
h1 p {
    font-family: 'Muli', sans-serif !important;
}

a {
    text-decoration: none;
    color: #0c0c0c;
}

.highlighted-text {
        background: linear-gradient(90deg, #0F61D4, #00d4ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

/* HEADER ---> STARTS */
header {
    nav {
        height: 6rem;
        background-color: white;
        transition: all 0.3s ease-in-out;

        .navbar-brand {
            img {
                height: 2.6rem;
                width: auto;
            }
        }

        .nav-link {
            transition: all 0.2s ease-in-out;
            color: #000000;
            letter-spacing: 0.02em;
            font-family: 'Comfortaa', sans-serif;
            font-size: 0.9rem;
            border-radius: 0.3rem;

            &:hover {
                padding-left: 1.4rem !important;
                padding-right: 1.4rem !important;
                background-color: var(--primary-blue);
                color: #FFFFFF;
            }
        }

        .active-link {
            color: var(--primary-blue);
        }

        .navbar-nav {
            gap: 2rem;
        }

    }

    .free-consultation-btn {
        background-color: transparent;
        border: 0.0625rem solid var(--primary-blue);
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        font-family: 'Comfortaa', sans-serif;
        font-size: 0.9rem;
        transition: background-color 0.7s ease;

        /* On hover */
        &:hover {
            background-color: var(--primary-blue);
            border: 0.0625rem solid #FFFFFF;
            color: #FFFFFF;
        }
    }
}

header.sticky nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(0);
    }
}

/* HEADER ---> ENDS */


/* HEROES SECTION ---> STARTS */
.heroes {
    padding: 10rem 3rem 0rem 3rem;

    h1 {
                        font-weight: 600;
                        width: 60%;
                        font-size: 2.3rem;

                        span {
                            background: linear-gradient(90deg, #0F61D4, #00d4ff);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                        }
                    }

                    p {
                        font-size: 1.1rem;
                        width: 70%;
                    }
}


/* HEROES SECTION ---> ENDS */


/* SERVICES SECTION ---> STARTS */
.services {
    padding-top: 4rem;

    .card {
        transition: all 0.4s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.05) 0rem 0.0625rem 0.125rem 0rem;
        &:hover {
            transform: scale(1.04);
            border: 0.0625rem solid var(--primary-blue);
        }

        .card-head {
            position: relative;
            .number-container {
                display: none;
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
                height: max-content;
                width: max-content;
                border-radius: 50%;
                padding: 0.7rem;
                box-shadow: rgba(0, 0, 0, 0.05) 0rem 0.0625rem 0.125rem 0rem;
                background: rgba(255, 255, 255, 0.7);

                .number {
                    font-size: 2.5rem;
                    font-weight: 900;
                    color: transparent;
                    -webkit-text-stroke: 0.0625rem var(--primary-blue);
                    text-stroke: 0.0625rem var(--primary-blue);
                }
            }
        }
        
         
        h5 {
            font-size: 1.2rem;
            font-family: 'Comfortaa' !important;
        }

        p {
            font-size: 0.85rem;
        }
    }
}

/* SERVICES SECTION ---> ENDS */



/*PROCESS STEPS ---> START*/
.process-and-interest {
    .heading-texts {
        h2 {
            margin-bottom: 1.4rem;
        }
    }


    .interests {
        padding: 6rem 3rem 4rem 3rem;

        .accordion-item {
            padding: 0.5rem 0;

            .accordion-button {
                background-color: transparent;
                color: var(--primary-dark);
                font-weight: 400;
                border: none;
                box-shadow: none !important;
                transition: all 0.3s ease;
                position: relative;
                padding: 1rem 1.25rem;

                &::after {
                    content: "+";
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: var(--primary-blue);
                    background-image: none;
                    transform: none !important;
                }

                &:not(.collapsed)::after {
                    content: "–";
                    color: #fff;
                }

                &:not(.collapsed) {
                    background-color: var(--primary-blue);
                    color: #fff;
                }

                &:focus {
                    box-shadow: none !important;
                }
            }

            .accordion-body {
                background-color: #f9f9f9;
                font-size: 0.95rem;
                line-height: 2rem;
                color: var(--primary-grey);
                padding: 1rem 1.25rem 1.25rem 1.25rem;

                strong {
                    color: var(--primary-dark);
                }
            }

            .accordion-collapse.show+.accordion-body {
                background-color: #fff;
            }
        }
    }


    .engagement-process {
        padding: 6rem 3rem 4rem 3rem;

        .stepper {
            padding-left: 2rem;

            .step {
                position: relative;
                padding: 2rem 1rem 2rem 3rem;
                transition: all 0.3s ease;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.6);
                    box-shadow: rgba(0, 0, 0, 0.05) 0rem 0.0625rem 0.1875rem;

                    .number {
                        background-color: var(--primary-blue);
                        color: #fff;
                        transform: scale(1.1);
                    }

                    h4 {
                        color: var(--primary-blue) !important;
                    }
                }

                .number {
                    position: absolute;
                    left: -1.7rem;
                    top: 2rem;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    background-color: #ffffff;
                    border: 0.125rem solid var(--primary-blue);
                    color: var(--primary-blue);
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s ease;
                    z-index: 2
                }

                .content {
                    h4 {
                        font-weight: 600;
                        color: var(--primary-dark);
                        margin-bottom: 0.5rem;
                        transition: color 0.3s ease;
                    }

                    p {
                        color: var(--primary-grey);
                        font-size: 0.95rem;
                        line-height: 2rem;
                    }
                }

                &:not(:last-child)::after {
                    content: "";
                    position: absolute;
                    left: -0.5rem;
                    bottom: 0;
                    top: 2rem;
                    height: 100%;
                    width: 0.125rem;
                    background-color: var(--primary-blue);
                    z-index: 1;
                }
            }

            @media (max-width: 48rem) {
                padding-left: 1.5rem;

                .step {
                    padding: 1.5rem 1rem 1.5rem 2.5rem;

                    .number {
                        width: 2rem;
                        height: 2rem;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

/*PRCESS STEP ---> END*/




/* TRUSTEES ---> START */
.trusted-section {
    color: #fff;
    padding: 6rem 0 !important;
    background: linear-gradient(180deg, #01597A 0%, #0F61D4 100%);

    h5 {
        font-size: 1.8rem;
        text-transform: capitalize;
    }

    img {
        opacity: 0.9;
        transition: all 0.3s ease;
        width: 20%;

        &:hover {
            opacity: 1;
            transform: scale(1.05);
        }
    }
}

/* TRUSTEES ---> END */



/* CONTACT ---> START */
.contact-section,
.free-consultation-section {
    padding: 4rem 0 5rem 0;

    h2 {
        font-size: 2.4rem;
        line-height: 3rem;
        color: #0a0a0a;
    }

    p {
        font-size: 1rem;
        line-height: 2rem;
    }


    form {
        margin-top: 4rem;

        .dropdown-toggle {
            border-radius: 0.5rem;
            background-color: #fff;
            color: #0a0a0a;

            &:focus {
                border-color: #0074ff;
                box-shadow: none !important;
            }
        }

        .dropdown-menu {
            border-radius: 0.5rem;
        }

        .form-label {
            font-weight: 500;
            color: #0a0a0a;
        }

        .form-control,
        .form-select {
            border-radius: 0.2rem;
            transition: all 0.3s ease;

            &:focus {
                &:focus {
                    border-color: #0074ff;
                    box-shadow: none !important;
                }
            }
        }

        input {
            height: 2.9375rem;
        }

        input::placeholder,
        textarea::placeholder {
            font-size: 0.8rem;
            color: var(--primary-grey);
        }

        .invalid-feedback {
            font-size: 0.8rem;
            color: var(--default-red);
        }

        button[type="submit"] {
            background-color: transparent;
            border: 0.0625rem solid var(--primary-blue);
            padding: 0.75rem 1.5rem;
            border-radius: 0.5rem;
            font-family: 'Comfortaa', sans-serif;
            font-size: 0.9rem;
            transition: background-color 0.7s ease;

            /* On hover */
            &:hover {
                background-color: var(--primary-blue);
                border: 0.0625rem solid #FFFFFF;
                color: #FFFFFF;
            }

            &.active {
                opacity: 1;
                cursor: pointer;
            }
        }

        .disabled-btn {
            cursor: not-allowed;
        }

    }

}

/* CONTACT ---> END */



/* FOOTER ---> START */
footer {
    img {
        width: 12rem;
    }

    p {
        font-size: 0.9rem;
    }

    h6 {
        margin-bottom: 1.7rem;
    }

    a,
    p {
        margin-bottom: 0.8rem;
        font-weight: 200;
        font-size: 0.9rem;
    }
}

/* FOOTER ---> EMD */
