@font-face {
    font-family: 'Muli';
    src: url('/fonts/Muli.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-sans';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-blue: #0F61D4;
    --primary-dark: #232323;
    --primary-grey: #616161;
}

h3,
h5,
h6,
h1 p {
    font-family: 'Muli', sans-serif;
}

a {
    text-decoration: none;
    color: #0c0c0c;
}

/* HEADER ---> STARTS */
header {
    nav {
        height: 6rem;
        background-color: white;
        transition: all 0.3s ease-in-out;

        .navbar-brand {
            img {
                height: 2.8rem;
                width: auto;
                transition: height 0.3s ease;
            }
        }

        .nav-link {
            transition: all 0.4s ease-in-out;
            color: #000000;
            letter-spacing: 0.02em;
            font-family: 'Comfortaa', sans-serif;
            font-size: 0.9rem;

            &:hover {
                border: 1px solid var(--primary-blue);
                border-radius: 8px;
                padding: 12px 48px !important;
                background-color: var(--primary-blue);
                color: #FFFFFF;
            }
        }

        .navbar-nav {
            gap: 2rem;
        }

    }

    .free-consultation-btn {
        background-color: transparent;
        border: 1px solid var(--primary-blue);
        padding: 12px 24px;
        border-radius: 8px;
        font-family: 'Comfortaa', sans-serif;
        font-size: 0.9rem;
        transition: background-color 0.7s ease;

        /* On hover */
        &:hover {
            background-color: var(--primary-blue);
            border: 1px solid #FFFFFF;
            color: #FFFFFF;
        }
    }
}

header.sticky nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(0);
    }
}

/* HEADER ---> ENDS */


/* HEROES SECTION ---> STARTS */
.heroes {
    height: 100vh;

    .carousel,
    .carousel-inner,
    .carousel-item {
        height: 100%;
    }

    .carousel {
        .carousel-control-prev-icon {
            background-image: url(/images/prev-icon.svg);
        }

        .carousel-control-next-icon {
            background-image: url(/images/next-icon.svg);
        }

        .carousel-control-next {
            width: fit-content;
            padding-right: 5%;
        }

        .carousel-control-prev {
            width: fit-content;
            padding-left: 5%;
        }

        .carousel-control-prev,
        .carousel-control-next {
            width: fit-content;
        }

        .carousel-inner {
            .carousel-caption {
                bottom: 45%;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    font-weight: 600;
                    width: 70%;

                    span {
                        color: var(--primary-blue);
                    }
                }

                p {
                    font-size: 1.1rem;
                    width: 90%;
                }
            }
        }
    }

}

/* HEROES SECTION ---> ENDS */


/* BRIEFING CARDS SECTION ---> STARTS */
.briefing-cards {
    padding-top: 6rem;
    padding-bottom: 6rem;


    .card {
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
        height: 65vh;
        border: none;
    }

    a {
        font-size: 0.75rem;
    }

    .ai-logo {
        width: 5rem;
        margin-top: -1rem;
    }

    .card-software {
        background-color: #23475F;
        background-image: url(/images/bg-curve-blue.svg);
    }

    .card-ai {
        background-color: #F8F8FF;
        background-image: url(/images/bg-curve-white.svg);
    }

    .card-ai i {
        color: var(--primary-blue) !important;
    }

    .card-ai a {
        color: var(--primary-blue) !important;
    }

    .card-arch {
        background-color: #13444B;
        background-image: url(/images/bg-curve-green.svg);
    }


    .card-header i {
        font-size: 4rem;
    }

    .card-title {
        font-size: 1.25rem;
        line-height: 1.4;
        font-weight: 500;
    }

    .card-body {
        padding: 1rem 2.2rem;
    }

    .card-text {
        line-height: 1.875;
        font-family: 'Open-sans', sans-serif;
        font-size: 0.85rem;
    }
}

/* BRIEFING CARDS SECTION ---> ENDS */



/* OUR SOFTWARE ---> STARTS */
.our-software {
    padding-top: 4rem;
    padding-bottom: 6rem;

    .software-summary {
        padding-top: 2rem;

        h4 {
            color: var(--primary-blue);
            font-size: 16px;
            font-weight: 700;
            line-height: 2rem;
        }

        h5 {
            font-size: 42px;
            font-weight: 900;
            color: var(--primary-dark);
            letter-spacing: -1.6px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--primary-dark);
        }

        p {
            font-size: 1.1rem;
            line-height: 2rem;
            color: var(--primary-grey);
        }

        .perks {
            i {
                color: var(--primary-blue);
                font-size: 1.2rem;
            }

            h6 {
                font-weight: 700;
                line-height: 24px;
                color: var(--primary-dark);
            }

            p {
                color: var(--primary-grey);
                font-size: 1rem;
                font-family: 'Muli', sans-serif;
            }
        }

        .know-more-btn {
            background-color: transparent;
            border: 1px solid var(--primary-blue);
            padding: 16px 24px;
            border-radius: 8px;
            font-family: 'Comfortaa', sans-serif;
            font-size: 0.9rem;
            transition: background-color 0.7s ease;

            /* On hover */
            &:hover {
                background-color: var(--primary-blue);
                border: 1px solid #FFFFFF;
                color: #FFFFFF;
            }
        }


    }
}

/* OUR SOFTWARE  ---> ENDS */